<div id="<%= dom_id cart %>" >
  <div class="flex-column">
    <p style="color: green"><%= notice %></p>
    <h5>Your Pragmatic Cart</h5>
    <table>
      <% @line_items.each do |item| %>
        <tr style="<%= cycle("background-color: #F0FDF4;", "background-color: #FFFFFF") %>">
          <td><%= item.quantity %></td>
          <td>&times;</td>
          <td><%= item.product.title %></td>
          <td><%= number_to_currency(item.total_price) %></td>
          <td><%= link_to "-", line_item_path(item), data: { turbo_method: :delete }, class: "btn btn-danger" %></td>
          <td><%= button_to "+", product_line_items_path(item.product), class: "btn btn-success" %></td>
        </tr>
      <% end %>
      <% if @cart.line_items.present? %>
        <tfoot>
          <tr>
            <th>Total:</th>
            <td><%= number_to_currency(@cart.total_price) %></td>
          </tr>
        </tfoot>
        <% end %>
    </table>
      <%= link_to "Empty cart", cart_delete_path(@cart), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } if @cart.line_items.present? %>
    </div>
  </div>
</div>
