<div>
  <% if notice.present? %>
  <p>
    <%= notice %>
  </p>
  <% end %>
</div>
<h1>Yor pragmatic Catalog</h1>
<ul style="list-style-type: none;">
  <% @products.each do |product| %>
    <li>
      <%= image_tag(product.image_url, class: "rounded", style: "width: 100px; height: 100px") %>
      <div>
        <h2><%= product.title %></h2>
        <p>
          <%= sanitize(product.description) %>
        </p>
      </div>
      <div>
        <%= number_to_currency(product.price) %>
      </div>
    </li>
  <% end %>
</ul>
