<!DOCTYPE html>
<html>
  <head>
    <title>Depot2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header style="background-color: #126630;" class="m-0">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="d-flex m-0" style="min-height: 100vh;">
      <nav style="background-color: #104326;" class="p-4 altura">
        <% if @cart and not @cart.line_items.empty? %>
        <div style="overflow-y: scroll; background-color: white; height: 300px; scrollbar-color: #126630 #F0FDF4; scrollbar-width: thin; min-width: 300px; " class="p-2 rounded">
          <%= render @cart %>
        </div>
        <% end %>
        <ul style="list-style-type: none;" class="text-secondary lh-lg list-group mt-3">
          <li><a href="/">Home</a></li>
          <li><a href="">Questions</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <main class="container mx-auto d-flex mt-4 px-4">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
